<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" placeholder="email을 입력하세요" v-model="userData.email">
        <input type="password" placeholder="password를 입력하세요" v-model="userData.password">
        <button @:click="btnOK">확인</button> 
        <!-- v-on: = @ -->
        <!-- 아래 버튼을 클릭하면 아래 div 영역에
            이메일과 비밀번호를 출력해 주세요 -->
        <div v-show="dataShow">
            입력된 이메일 : {{ userData.email }}
            <br>
            입력된 비밀번호 : {{ userData.password }}
        </div>
    </div>
   
    <script>
        new Vue({
            el: "#app",
            data: {
                userData: {
                    email: "",
                    password: "",
                },
                dataShow: false
            },
            methods: {
                btnOK() {
                    this.dataShow = true
                }
            },
        })
    </script>
</body>
</html>