* {
    margin: 10px 0 0 10px;
}
h3 {
    margin: 0;
}
ul {
    width: 450px;
    border: solid 1px;
    margin: 5px 0 0 px;
    padding: 5px 5px 10px ;
    list-style-type: none;
}
li {
    border-bottom: dotted 1px;
    margin: 10px;
}