#page-wrapper {
    background-color: rgba(0, 128, 0 , 0.3)
}
#page-wrapper {border-radius: 20px; }
#page-wrapper { font-size: 50%;}

#main-header {
    color:red;
    text-align: center;
}
#main-navigation {
    margin: 20px 10px;
}


#name {
    background-image: url("../../css/pixabay_bird.jpg");
}

tr:nth-child(1) { background-color: red;}
tr { background-color: cornflowerblue;}
tr:nth-child(2n+1) { background-color: blue;}

textarea { background-color: tomato}
textarea { 
    border-width: thick;
    border-style: dashed;
    border-color: blue red rebeccapurple tomato;
    border-radius: 20px;
}
